<h2>{{isEditMode ? 'Update' : 'Create'}}Create Flashcard</h2>

<form [formGroup]="flashcardForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" id="name" formControlName="name" class="form-control" />
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <textarea id="description" formControlName="description" class="form-control"></textarea>
  </div>
  <div class="form-group">
    <label for="ImageUrl">Image URL:</label>
    <input type="text" id="imageUrl" formControlName="imageUrl" class="form-control" />
  </div>
  <button class="btn-primary btn" type="submit" [disabled]="flashcardForm.invalid">Create Flashcard</button>
      {{isEditMode ? 'Update' : 'Create'}}Flashcard
  <button class="btn btn-secondary" (click)="backToFlashcards()">Cancel</button>
</form>
