<h2>Add Flashcard to Collection</h2>

<form [formGroup]="collectionFlashcardForm" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label for="collectionFlashcard">Add flashcards:</label>
    <br />

    <select formControlName="flashcards" multiple style="width: 500px;">
      <option *ngFor="let flashcard of flashcards" [ngValue]="flashcard">
        {{flashcard.flashcardId}}. Term: {{flashcard.name}}, Description: {{flashcard.description}}
      </option>
    </select>
  </div>

  <button class="btn-primary btn" type="submit" [disabled]="collectionFlashcardForm.invalid">Add Flashcard to Collection</button>
  <button class="btn btn-secondary" (click)="backToCollections()">Cancel</button>

</form>
