
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Homepage grid</title>
  <link rel="stylesheet" href="../../styles.css" />
</head>
<body>
  <header>
    <h1>Home Page</h1>
  </header>
  <main class="grid-contents">
    <article class="featured">
      <div>
        <h2>Flashcards</h2>
        <p>
          Welcome to the amazing world of brain-engaging flashcards! Whether you are studying for exams, learning a new language, or just want to expand your knowlegde, we've got you covered. Our website offers a wide range of topics, from
          languages, countries of the world, different dishes and much more. You will find interactive quizes, engaging visuals, and helpful explanations to make learning fun and effective.
          But that's not all! We also provide personalized study tools to help you.
          Nothing is impossible for those who want to try, it is all about making leaning a breeze!
        </p>
      </div>
    </article>
      <article *ngFor ="let collection of collections.slice(0,3)">
        <a (click)="navigateToPlay(collection.collectionId)">
          <img [src]="this.images[collection.collectionId-1]" alt="this.images[collection.collectionId-1]"/>
        </a>
        <div>
          <h3>{{collection.collectionName}}</h3>
          <p>Test your skills about {{collection.collectionName}}!</p>
        </div>
       </article>


    <!-- Good memories -->
    <!--<article>
      <a routerLink="/play', collection.collectionId">
        <img src="assets/images/Florida.png" alt="Norway" />
      </a>
      <div>
        <h3>Norway</h3>
        <p>Learn a new language!</p>
      </div>
    </article>
    <article>
      <a routerLink="/german">
        <img src="assets/images/Ohio.png" alt="German" />
      </a>
      <div>
        <h3>German</h3>
        <p>Test your skills about different dishes!</p>
      </div>
    </article>
    <article>
      <a routerLink="/america">
        <img src="assets/images/Colorado.png" alt="America" />
      </a>
      <div>
        <h3>America</h3>
        <p>Learn world geography the easy way!</p>
      </div>
    </article>-->
  </main>
</body>
</html>
