/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
/*a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}*/

/*Shitted in my ass*/
/*NAV BAR SECTION*/

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a.navbar-brand:hover {
  transition: color 0.2s;
  color:aqua;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.navbar {
  background-color: #84AFD5;
  border-radius: 10px;
}

.nav-link {
    color: black;
}

.nav-link:hover {
  transition: color 0.2s;
  color: aqua;
}
/*NAV BAR SECTION*/
a {
  color: #000000;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #000000;
  background-color: #84AFD5;
  border-color: #000000;
}

.btn-danger {
  border-color: #000000;
}

.btn-primary:hover {
  color: #000000;
  background-color: #5491C5;
  border-color: #000000;
}

.btn-danger:hover {
  border-color: #000000;
}

/*.collectionflashcard {
  width: 300px;
  padding: 50px 0px 50px 0px;
  border: black solid 2px;
  text-align: center;
  background-color: #84AFD5;
  border-radius: 25px;
}*/


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap');

body {
  margin: 30px;
  font-family: "Poppins";
  background: #B3CEE5;
}

ul, li {
  padding: 0;
  list-style-type: none;
}

h1, h2, h3 {
  color: #241B22;
}

p {
  color: #241B22;
}

header {
  max-width: 1200px;
  margin: 40px auto;
  border-bottom: 1px solid #275072;
}

.grid-contents {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0px;
  max-width: 1200px;
  margin: 20px auto;
}

article.featured {
  grid-column: span 3;
  display: grid;
  grid-template-columns: 1fr;
  gap: 60px;
  align-items: center;
  /*border-bottom: 1px solid #275072;*/
  padding-bottom: 40px;
}

  article img, article.featured img {
    width: 100%;
    border: 4px solid #275072;
    border-radius: 8px;
  }

article p, .article h3 {
  margin: 20px 10px;
}

/* responsive */
@media screen and (max-width: 980px) {
  article {
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
  }
}

@media screen and (max-width: 760px) {
  article, article.featured {
    display: block;
    margin: 0 20px;
  }
}

.collectionflashcard {
  font-size: 35px;
  width: 700px;
  padding: 50px 0px 50px 0px;
  border: black solid 2px;
  text-align: center;
  background-color: #84AFD5;
  border-radius: 25px;
}


.prevbutton {
  text-align: center;
  background-color: #84AFD5;
}
.nextbutton {
  text-align: center;
  background-color: #84AFD5;
}

.Drive {
  /*Flex display*/
  display: flex;
  justify-content: center;
  align-items: center;
  margin:5px 0 0 0;
  
}

.playbuttons {
  text-align: center;
}
#title {
    text-align: center;
}

/*.coolLmao:hover{
    background-color: black;
    border: 30px black solid;
}*/

.coolLmao {
  background-color: rgb(0, 255, 144,0.5);
  padding: 159px 0px 162px 0px;
  border-radius: 10px;
}

.nightCall {
  transition: background-color 0.3s, opacity 0.3s;
  background-color: rgba(255,0,0,1);
}

  .nightCall:hover {
    opacity: 0.5;
    cursor: pointer;
    background-color: rgba(255,0,0,1);
  }

.playbuttons button:disabled {
  opacity: 0.5; 
  cursor: not-allowed;
}


/*.playbuttons {
  position: absolute;
  left: 50%;
}*/
